<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".Room.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoGrupo1MusicStore"
        tools:targetApi="31">
        <activity
            android:name=".Activities.AcercaDe.ActivityAcercaDe"
            android:exported="false" />
        <activity
            android:name=".ActivityReproductoVideo"
            android:exported="false" />
        <activity
            android:name=".ActivityReproductor"
            android:exported="false" />
        <activity
            android:name=".ActivityEditarPlayList"
            android:exported="false" />
        <activity
            android:name=".ActivityModificarPlayList"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityChat"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityEditarGrupo"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityVerTodosVideo"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityVerTodosMusica"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityVerTodosIntegrantes"
            android:exported="false" />
        <activity
            android:name=".Activity_ConfirmaCambioContrasena"
            android:exported="false" />
        <activity
            android:name=".Activity_CambiarContrasena"
            android:exported="false" />
        <activity
            android:name=".Activity_EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".ActivityArchivosPersonales"
            android:exported="false" />
        <activity
            android:name=".Activity_BuscarVideos"
            android:exported="false" />
        <activity
            android:name=".Activity_BuscarMusica"
            android:exported="false" />
        <activity
            android:name=".Activity_SubirVideo"
            android:exported="false" />
        <activity
            android:name=".Activity_SubirMusica"
            android:exported="false" />
        <activity
            android:name=".Activity_CrearPlayList"
            android:exported="false" />
        <activity
            android:name=".ActivityPlayList"
            android:exported="false" />
        <activity
            android:name=".ActivityPlay"
            android:exported="false" />
        <activity
            android:name=".activity_registrarse"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".Activity_PerfilPersonal"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityGruposBuscar"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.Grupos.ActivityUnirseGrupo"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityNuevoGrupoIntegrantes"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityNuevoGrupoDetalles"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityGrupoInfo"
            android:exported="false" />
        <activity
            android:name=".Activities.PantallaPrincipal.ActivityPantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".Activities.Grupos.ActivityGrupoPrincipal"
            android:exported="false" />
        <activity
            android:name=".activity_personalizado_confirmacion_correcta"
            android:exported="false" />
        <activity
            android:name=".activity_personalizado_advertencia"
            android:exported="false" />
        <activity
            android:name=".activity_recuperar_contrasena1"
            android:exported="false" />
        <activity
            android:name=".activity_recuperar_contrasena2"
            android:exported="false" />
        <activity
            android:name=".activity_recuperar_contrasena3"
            android:exported="false" />
        <activity
            android:name=".activity_codigoverificacion_crearcuenta"
            android:exported="false" />
        <activity android:name=".activity_principal_login" />
        <activity
            android:name=".Activity_PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".ActivityListaSeguidos"
            android:exported="false" />
        <activity
            android:name=".ActivityListaSeguidores"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Utilidades.GrupoPrivadoFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>